<h1 style="margin-left: 20px">Welcome <%= firstName %></h1>
<div class="descrip">
    <p>
        This project was designed using Node.js and Express. All source files
        are hosted on GitHub and deployed through Heroku.com. I utilized a
        Model-View-Controller pattern to develope the application.
    </p>
    <p>
        Source code can be found at 
        <a 
            href="https://github.com/rmillz03/mission-tracker-v1" 
            target="_blank" 
            rel="noopener noreferrer"
        >GitHub Repo</a>
    </p>
    <p>
        The following dependencies were used: 
    </p>
        <ul>
            <li class="circle-checkmark">Express Layouts</li>
            <li class="circle-checkmark">Express Sessions</li>
            <li class="circle-checkmark">Cookie Parser</li>
            <li class="circle-checkmark">Passport Authentication</li>
            <li class="circle-checkmark">Flash Messages</li>
            <li class="circle-checkmark">MySQL2 Database Operations</li>
        </ul>
    <p>
        Please report any errors to Rick Miller, rick.miller.3rd@gmail.com. 
    </p>
</div>  